@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



::-webkit-scrollbar{
    width: 8px !important;
}

::-webkit-scrollbar-track{
    background: #555 !important;
}

::-webkit-scrollbar-thumb{
    background: #121212 !important;
    border-radius: 5px !important;
}

::-webkit-scrollbar-thumb{
    background: #242424 !important;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
  }
  
  /* Apply the shake animation to the element */
  .shake {
    display: inline-block; /* Ensure the element is inline-block or block */
    animation: shake 0.5s ease-in-out; /* Apply the shake animation */
  }